.r1{
    background-color: #EAE0D5;
    height: 44px;
}

.r2{
    height: 80px;
}

.r3{
    height: 45px;
    background-color: #22333B;
    color: white;
}

.ma{
    margin: auto;
}
.frikly-logo{
    margin-top: 22px;
    margin-left:116px;
}


